# Site settings
title: Barry Lee's Website
email: ccbarrylee@tamu.edu
description: Webpage of Dr. Cheng-Chun (Barry) Lee
baseurl: ""
url: ""

# Google analytics ID: Remove or use your own!
google_analytics: UA-169946622-1
google_analytics_4: 
google_tag_manager: 

# Footer info
about: >
    Dr. Cheng-Chun (Barry) Lee<br/>
    <a href='https://www.urbanresilience.ai/' target='_blank'>Urban Resilience.AI Lab</a> <br/>
    Texas A&M University

coordinates: >
  Dwight Look Engineering Building<br/>
  199 Spence St<br/>
  College Station, TX 77840

information: >
    <a href="mailto:ccbarrylee@tamu.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact Barry via email</a> <br/>
    Built with <a href='https://jekyllrb.com/' target='_blank'>Jekyll</a> and <br/>
    Credit to <a href='https://bryngelson-research.com/' target='_blank'>Dr. Bryngelson's webpage</a>



# Pages shown in navbar
nav_pages:
  # - name: team
  - name: about
  - name: publications
  # - name: research
  # - name: teaching
  # - name: software

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links


plugins: ['jekyll/scholar']

scholar:

  last_name: Lee
  first_name: [Cheng-Chun]

  style: apa-no-doi-no-issue
  locale: en

  source: /cv/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
